<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Site Maintenance</title>
  <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
</head>
<body class="bg-dark">
<div class="container">
  <div class="card mt-4">
    <div class="card-header">
      <h3 class="text-big text-bold text-center">Maintenance!!!</h3>
    </div>
    <div class="card-body">
      <p class="text-big text-bold">
        Sorry, site under maintenance right now, you can still contact me through these links if needed.
      </p>
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="https://www.github.com/Tobi-De" class="btn"
        ><img
                alt="tobi-de | Github"
                width="22px"
                src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/github.svg"
        /></a>
        <a href="mailto:degnonfrancis@gmail.com" class="btn"
        ><img
                alt="tobi-de | Gmail"
                width="22px"
                src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/gmail.svg"
        /></a>
        <a href="https://t.me/Tobi_DE1999" class="btn"
        ><img
                alt="tobi-de | Telegram"
                width="22px"
                src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/telegram.svg"
        /></a>
        <a href="https://twitter.com/Tobi71110248?ref_src=twsrc%5Etfw" class="btn"
        ><img
                alt="tobi-de | Twitter"
                width="22px"
                src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/twitter.svg"
        /></a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
