{% load blog_tags %}
<aside class="col-md-3">
  <div class="widget">
    <header>
      <h3 class="h6">Coming Soon</h3>
    </header>
    <div class="blog-posts">
      {% for post in coming_soon %}
        <div class="item d-flex align-items-center">
          <div class="title mb-2">{{ post.title }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="widget categories">
    <header>
      <h3 class="h6">Tags</h3>
    </header>
    {% for tag in tags %}
      <div class="item d-flex justify-content-between"><a
              href="{% url "blog:post_list_filtered" tag %}">#{{ tag }}</a><span> {{ tag|tag_post_count }}</span>
      </div>
    {% endfor %}
    <a class="a-title row justify-content-center" href="{% url "blog:tag_list" %}">All tags</a>
  </div>
</aside>
