{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

<aside class="col-md-3">
  <!-- Widget [Search Bar Widget]-->
  <div class="widget search">
    <header>
      <h3 class="h6">Search the blog</h3>
    </header>
    <form method="get" class="search-form" action="{% url "blog:post_list" %}">
      <div class="form-group">
        <input type="search" name="q" placeholder="What are you looking for?">
        <button type="submit" class="submit"><i class="icon-search"></i></button>
      </div>
    </form>
  </div>
  <!-- Widget [Latest Posts Widget]  -->
  <div class="widget latest-posts">
    <header>
      <h3 class="h6">Featured</h3>
    </header>
    <div class="blog-posts">
      {% for post in featured %}
        <a href="{{ post.get_absolute_url }}">
          <div class="item d-flex align-items-center">
            <div class="title"><strong>{{ post.title|truncatechars:25 }}</strong>
              <div class="d-flex align-items-center">
                <div class="text-small mt-2 text-muted">
                  <i class="icon-clock"></i> {{ post.created|naturalday }}
                </div>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
  <!-- Widget [Blog Widget]-->
  {#    <div class="widget categories">#}
  {#      <header>#}
  {#        <h3 class="h6">Category</h3>#}
  {#      </header>#}
  {#      <div class="item d-flex justify-content-between"><a href="{% url "blog:post_list" %}">Posts</a>#}
  {#      </div>#}
  {#      <div class="item d-flex justify-content-between"><a href="{% url "blog:series_list" %}">Series</a>#}
  {#      </div>#}
  {#    </div>#}
  <!-- Widget [Newsletter Widget]-->
  <div class="widget">
    <header>
      <h3 class="h6">Newsletter</h3>
    </header>
    <p>Subscribe to our Mailing list to get notified about new posts.</p>
    <form method="post" action="{% url "newsletter:subscribe" %}">
      {% csrf_token %}
      {{ form | crispy }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <!-- Widget [Books Widget]-->
  <div class="widget categories">
    <header>
      <h3 class="h6">Suggested Books</h3>
    </header>
    <div>
      <div class="mb-3">
        <a href="https://www.feldroy.com/products/two-scoops-of-django-3-x" target="_blank">
          <img src="{% static "images/two_scoops_of_django.webp" %}" alt="two scoops of django"
               class="img-fluid">
        </a>
      </div>
      <div>
        <h6>
          <a href="https://www.feldroy.com/products/two-scoops-of-django-3-x" target="_blank" style="color: gray">
            Two Scoops of django 3
          </a>
        </h6>
      </div>
    </div>
    <hr>
    <div class="mb-3">
      <a href="https://spellbookpress.com/books/temple-of-django-database-performance/" target="_blank">
        <img src="{% static "images/temple_of_django_database.png" %}" alt="temple of django database performance"
             class="img-fluid">
      </a>
    </div>
    <div>
      <a href="https://spellbookpress.com/books/temple-of-django-database-performance/" target="_blank"
         style="color:gray">
        <h6>
          <br>
          Temple of django database
          performance
        </h6>
      </a>
    </div>
  </div>
</aside>
