<aside class="col-md-3">
  <div class="widget categories">
    <header>
      <h3 class="h6">Categories</h3>
    </header>
    {% for category in categories %}
      <div class="item d-flex justify-content-between"><a
              href="{{ category.get_list_url }}">{{ category }}</a><span>{{ category.posts_count }}</span>
      </div>
    {% endfor %}
  </div>
  <div class="widget">
    <header>
      <h3 class="h6">Coming Soon</h3>
    </header>
    <div class="blog-posts">
      {% for post in coming_soon %}
        <div class="item d-flex align-items-center">
          <div class="title mb-2"><strong>{{ post.title }}</strong>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</aside>
