{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

<aside class="col-lg-4">
  <!-- Widget [Search Bar Widget]-->
  <div class="widget search">
    <header>
      <h3 class="h6">Search the blog</h3>
    </header>
    <form method="get" class="search-form" action="{% url "blog:post_list" %}">
      <div class="form-group">
        <input type="search" name="q" placeholder="What are you looking for?">
        <button type="submit" class="submit"><i class="icon-search"></i></button>
      </div>
    </form>
  </div>
  <!-- Widget [Latest Posts Widget]        -->
  <div class="widget latest-posts">
    <header>
      <h3 class="h6">Latest</h3>
    </header>
    <div class="blog-posts">
      {% for latest in latests %}
        <a href="{{ latest.get_absolute_url }}">
          <div class="item d-flex align-items-center">
            {% if latest.thumbnail %}
              <div class="image"><img src="{{ latest.thumbnail.url }}" alt="..." class="img-fluid"></div>
            {% endif %}
            <div class="title"><strong>{{ latest.title }}</strong>
              <div class="d-flex align-items-center">
                <div class="views"><i class="icon-eye"></i> {{ latest.reading_time }} minutes read</div>
                <div class="comments"><i class="icon-comment"></i>{{ latest.comments.count }}</div>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
  <!-- Widget [Popular Posts Widget]        -->
  <div class="widget latest-posts">
    <header>
      <h3 class="h6">Popular Posts</h3>
    </header>
    <div class="blog-posts">
      {% for post in popular %}
        <a href="{{ post.get_absolute_url }}">
          <div class="item d-flex align-items-center">
            {% if post.thumbnail %}
              <div class="image"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></div>
            {% endif %}
            <div class="title"><strong>{{ post.title }}</strong>
              <div class="d-flex align-items-center">
                <div class="views"><i class="icon-eye"></i> {{ post.reading_time }} minutes read</div>
                <div class="comments"><i class="icon-comment"></i>{{ post.comments.count }}</div>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
  <!-- Widget [Blog Widget]-->
  <div class="widget categories">
    <header>
      <h3 class="h6">Type</h3>
    </header>
    <div class="item d-flex justify-content-between"><a href="{% url "blog:post_list" %}">Posts</a>
    </div>
    <div class="item d-flex justify-content-between"><a href="{% url "blog:series_list" %}">Series</a>
    </div>
  </div>
  <!-- Widget [Categories Widget]-->
  <div class="widget categories">
    <header>
      <h3 class="h6">Categories</h3>
    </header>
    {% for category in categories %}
      <div class="item d-flex justify-content-between"><a
              href="{{ category.get_list_url }}">{{ category.name }}</a><span>{{ category.posts_count }}</span>
      </div>
    {% endfor %}
  </div>
  <!-- Widget [Newsletter Widget]-->
  <div class="widget">
    <p>Subscribe to our Mailing list to get notified about new posts.</p>
    <form method="post" action="{% url "newsletter:subscribe" %}">
      {% csrf_token %}
      {{ form | crispy }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <!-- Widget [Books Widget]-->
  <div class="widget categories">
    <header>
      <h3 class="h6">Recommended Books</h3>
    </header>
    <div>
      <div class="mb-3">
        <a href="https://www.feldroy.com/products/two-scoops-of-django-3-x" target="_blank">
          <img src="{% static "images/two_scoops_of_django.webp" %}" alt="two scoops of django"
               class="img-fluid">
        </a>
      </div>
      <div>
        <h6>
          <a href="https://www.feldroy.com/products/two-scoops-of-django-3-x" target="_blank">
            <ins>Two Scoops of django 3</ins>
          </a>
        </h6>
      </div>
    </div>
    <hr>
    <div class="mb-3">
      <a href="https://spellbookpress.com/books/temple-of-django-database-performance/" target="_blank">
        <img src="{% static "images/temple_of_django_database.png" %}" alt="temple of django database performance"
             class="img-fluid">
      </a>
    </div>
    <div>
      <a href="https://spellbookpress.com/books/temple-of-django-database-performance/" target="_blank">
        <h6>
          <br>
          <ins>Temple of django database
            performance
          </ins>
        </h6>
      </a>
    </div>
  </div>
</aside>
