{% load humanize %}

<aside class="col-lg-4"  style="background-color: white">
  <!-- Widget [Search Bar Widget]-->
  <div class="widget search">
    <header>
      <h3 class="h6">Search the blog</h3>
    </header>
    <form method="get" class="search-form" action="{% url "blog:blogpost_list" %}">
      <div class="form-group">
        <input type="search" name="q" placeholder="What are you looking for?">
        <button type="submit" class="submit"><i class="icon-search"></i></button>
      </div>
    </form>
  </div>
  <!-- Widget [Latest Posts Widget]        -->
  <div class="widget latest-posts">
    <header>
      <h3 class="h6">Latest Posts</h3>
    </header>
    <div class="blog-posts">
      {% for latest in latests %}
        <a href="{{ latest.get_absolute_url }}">
          <div class="item d-flex align-items-center">
            <div class="image"><img src="https://via.placeholder.com/50.png" alt="..." class="img-fluid"></div>
            <div class="title"><strong>{{ latest.title }}</strong>
              <div class="d-flex align-items-center">
                <div class="text-muted text-small">{{ latest.created|naturalday }}</div> |
                <div class="comments"><i class="icon-comment"></i>{{ latest.comments.count }}</div>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
  <!-- Widget [Blog Widget]-->
  <div class="widget categories">
    <header>
      <h3 class="h6">Type</h3>
    </header>
    <div class="item d-flex justify-content-between"><a href="{% url "blog:blogpost_list" %}">Posts</a>
    </div>
    <div class="item d-flex justify-content-between"><a href="{% url "blog:blogpostseries_list" %}">Posts Series</a>
    </div>
  </div>
  <!-- Widget [Categories Widget]-->
  <div class="widget categories">
    <header>
      <h3 class="h6">Categories</h3>
    </header>
    {% for category in categories %}
      <div class="item d-flex justify-content-between"><a
              href="{{ category.get_list_url }}">{{ category.name }}</a><span>{{ category.posts_count }}</span>
      </div>
    {% endfor %}
  </div>
  <!-- Widget [Newsletter Widget]-->
  <div class="widget">
    <p>Subscribe to get notified about new great blog posts about Web Development</p>
    <form method="post">
      {% csrf_token %}
      <div class="form-row">
        <input type="email" name="email" placeholder="Enter your email address">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</aside>
