{% load crispy_forms_filters %}
{% load comments %}


<div class="container">
  <main>
    <div class="card">
      <div class="card-body">
        <form method="POST" action="{% comment_form_target %}">
        {% csrf_token %}
          {{ form.name|as_crispy_field }}
          {{ form.email|as_crispy_field }}
          {{ form.comment|as_crispy_field }}
          {{ form.url|as_crispy_field }}
          <div class="row form-group">
            <div class="offset-md-3 col-md-7">
              <div class="custom-control custom-checkbox">
                {{ form.followup }}
                <label for="id_followup{% if cid %}_{{ cid }}{% endif %}"
                       class="custom-control-label">&nbsp;{{ form.followup.label }}</label>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="offset-md-3 col-md-7">
              <input type="submit" name="post" value="post" class="btn btn-primary"/>
              <input type="submit" name="preview" value="preview" class="btn btn-secondary"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
