<!doctype html>
<html lang="en">
<body>
<h3>Welcome to my Newsletter</h3>
<p>Hey there <img alt="😄" class="emojione" height="20px"
                  src="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/png/1f604.png"
                  title=":smile:" width="20px">,<br><br>
  This newsletter serves my personal blog where I post programming tutorials and guides mostly about python and<br><br>
  Django. The main purpose of this blog to which you have subscribed is to serve as a notebook to me. I'm still
  a<br><br>
  student and I was
  looking for a way to save all the stuff I'm learning.
  As I learn and develop my programming<br><br> skills I will be sharing all my knowledge and experience through my blog
  posts.
  I hope you will learn something<br><br>
  from it. Feel to <a href="https://www.tobidegnon.com/get-in-touch/">contact</a> me for anything programming
  related.<br><br>
  Best,<br><br>
  Tobi-De
</p>
</body>
</html>
