{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block css %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"
          integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <main>
      <div class="card">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
          {{ form.media }}
        </div>
      </div>
    </main>
  </div>

  <script>
    $(".django-ckeditor-widget").removeAttr('style');
  </script>
{% endblock %}
