{% extends "base.html" %}
{% load markdown_extras %}

{% block content %}
  <div class="container">
    <div class="row">
      <main class="posts-listing col-lg-12">
        <div class="container">
          {% if user.is_superuser %}
            <a href="{% url "projects:project_create" %}" class="btn btn-primary mb-4">New</a>
          {% endif %}
          <div class="row">
            {% for project in page_obj %}
              <div class="post col-xl-4 border-dark">
                <div class="post-thumbnail"><a href="{{ project.get_absolute_url }}"><img
                        src="https://via.placeholder.com/400.png" alt="..."
                        class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <div class="category">
                      {% for stack in project.get_stack %}
                        {{ stack }}
                      {% endfor %}
                    </div>
                  </div>
                  <a href="{{ project.get_absolute_url }}">
                    <h3 class="h4">{{ project.title }}</h3></a>
                  <p class="text-muted">{{ project.description|markdown|safe|linebreaks|truncatechars:50 }}</p>
                  <footer class="post-footer d-flex align-items-center">
                    <div class="date"><i class="icon-clock"></i> {{ project.created|timesince }} ago</div>
                  </footer>
                </div>
              </div>
            {% endfor %}
          </div>
          <!-- Pagination -->
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-template d-flex justify-content-center">
              {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> <i
                        class="fa fa-angle-left"></i></a></li>
                <li class="page-item"><a href="?page={{ page_obj.number|add:-1 }}"
                                         class="page-link">{{ page_obj.number|add:-1 }}</a></li>
              {% endif %}
              <li class="page-item"><a href="?page={{ page_obj.number }}"
                                       class="page-link active">{{ page_obj.number }}</a></li>
              {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.number|add:1 }}"
                                         class="page-link">{{ page_obj.number|add:1 }}</a></li>
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> <i
                        class="fa fa-angle-right"></i></a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </main>
    </div>
  </div>
{% endblock %}
