{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
  <div class="container">
    <main>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              {% thumbnail project.thumbnail.image "550x350" crop="center" as img %}
                <img src="{{ img.url }}" class="img-fluid" alt="{{ project.thumbnail.alt }}">
              {% endthumbnail %}
              {% if user.is_superuser %}
                <a href="{% url "projects:project_update" slug=project.slug %}">update</a>|
                <a href="{% url "projects:project_delete" slug=project.slug %}">delete</a>
              {% endif %}
            </div>
            <div class="col-md-6">
              <h2 class="text-center">{{ project.title }}</h2>
              <p>{{ project.description|safe }}</p>
            </div>
          </div>
          <div>
            <div class="mb-4 mt-4">
              <h6>Technology</h6>
              <ul class="ml-4">
                {% for tech in project.get_stack %}
                  <li> {{ tech }}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="mb-4">
              <h6>Status</h6>
              <p>{{ project.get_status }}</p>
            </div>
            <div class="mb-4">
              <h6>What I've Learned</h6>
              <div class="ml-4">{{ project.what_ive_learned|safe }}</div>
            </div>
            <div class="mb-4">
              <h6>Github Link</h6>
              <p>{{ project.github_link }}</p>
            </div>
            <div class="mb-4">
              <h6>Deployed version link</h6>
              <p>{{ project.web_link }}</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
