<!doctype html>
<html lang="en">
<header>
  <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
</header>
<body>
<p class="text-justify">
  Hey there, hope your are doing great, my latest post of the week is out
  <img alt="😄" class="emojione" height="20px"
       src="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/png/1f604.png"
       title=":smile:" width="20px">.I hope you will enjoy it.<br>
  It is titled <b>{{ title }}</b>. You can read it <a href="{{ link }}">here</a>. <br>
  I wish you a Pleasant weekend and an excellent start to the week <span>&#128151;</span>.<br>
  <a href="https://www.tobidegnon.com">Tobi-De</a>
</p>
</body>
</html>
