<!doctype html>
<html lang="en">
<header>
  <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
</header>
<body>
<p class="text-justify">
  Hey there, hope your are doing great, my latest post of the week is out <span>&#128516;</span>.I hope you will enjoy
  it.
  It is titled <b>{{ title }}</b>. You can read it <a href="{{ link }}">here</a>.
  I wish you a Pleasant weekend and an excellent start to the week <span>&#128151;</span>.<br>
  <a href="https://www.tobidegnon.com">Tobi-De</a>
</p>
</body>
</html>
