{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container">
    <main>
      <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="form-group">
          <a href="{% url "blog:blogpostseries_detail" blogpostseries.slug %}" class="btn btn-secondary">back</a>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
      {{ form.media }}
    </main>
  </div>
{% endblock %}
