{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container">
    <main>
      <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="form-group">
          <a href="{% url "blog:blogpost_detail" blogpost.slug %}" class="btn btn-secondary">back</a>
          {% if user.is_superuser and not blogpost.is_published %}
            <a href="{% url "blog:blogpost_publish" blogpost.slug %}" class="btn btn-secondary">Publish</a>
          {% endif %}
          <a href="{% url 'blog:blogpost_content_editor' blogpost.slug %}" class="btn btn-secondary">Edit Content</a>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
      {{ form.media }}
    </main>
  </div>

{% endblock %}
