{% extends "base.html" %}
{% load markdown_extras %}
{% load humanize %}

{% block content %}
  <div class="container">
    <main>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">POST</h5>
              <p class="card-text">Create a new blog post.</p>
              <a href="{% url "blog:blogpost_create" %}" class="btn btn-primary">Create</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Series</h5>
              <p class="card-text">Create a new series of post.</p>
              <a href="{% url "blog:blogpostseries_create" %}" class="btn btn-primary">Create</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <h4 class="text-center">DRAFTS</h4>
      <br>
      <div class="row">
        {% for blogpost in page_obj %}
          <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="card service-card">
              <div class="card-body">
                <h4 class="card-title">{{ blogpost.title }}</h4>
                <p class="card-text">
                  {{ blogpost.body|markdown|safe|linebreaks|truncatechars:200 }}
                </p>
                <a href="{% url "blog:blogpost_detail" slug=blogpost.slug %}" class="btn btn-primary">Continue</a>
              </div>
              <div class="card-footer text-muted">
                <p>
                  Categories:
                  {% for category in blogpost.categories.all %}
                    {{ category.name }},
                  {% endfor %}
                </p>
                <i class="icon-clock"></i> {{ blogpost.created|naturalday }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-template d-flex justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> <i
                    class="fa fa-angle-left"></i></a></li>
            <li class="page-item"><a href="?page={{ page_obj.number|add:-1 }}"
                                     class="page-link">{{ page_obj.number|add:-1 }}</a></li>
          {% endif %}
          <li class="page-item"><a href="?page={{ page_obj.number }}"
                                   class="page-link active">{{ page_obj.number }}</a></li>
          {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.number|add:1 }}"
                                     class="page-link">{{ page_obj.number|add:1 }}</a></li>
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> <i
                    class="fa fa-angle-right"></i></a></li>
          {% endif %}
        </ul>
      </nav>
    </main>
  </div>
{% endblock %}
