{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container">
    <main class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form | crispy }}
              <div class="form-group">
                <a href="{% url "blog:post_detail" post.slug %}" class="btn btn-secondary">back</a>
                {% if user.is_superuser and not post.is_published %}
                  <a href="{% url "blog:post_publish" post.slug %}" class="btn btn-secondary">Publish</a>
                {% endif %}
                <a href="{% url 'blog:post_content_editor' post.slug %}" class="btn btn-secondary">Edit
                  Content</a>
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
            {{ form.media }}
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
