{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}
{% load crispy_forms_tags %}

{% block content %}
  <style>
    .post-body img {
      width: 100%;
    }
  </style>

  <div class="container">
    <main class="post blog-post">
      <div class="post-single">
        {% if post.thumbnail %}
          <div><img src="{{ post.thumbnail.url }}" alt="..."
                                          class="img-fluid">
          </div>
        {% endif %}
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="category">
              {% for category in post.categories.all %}
                <a href="{{ category.get_list_url }}">{{ category }}</a>
              {% endfor %}
            </div>
            {% if user.is_superuser %}
              <div>
                <a href="{% url 'blog:post_update' post.slug %}">Update</a>|
                <a href="{% url 'blog:post_content_editor' post.slug %}">Edit Content</a>|
                <a href="{% url 'blog:post_delete' post.slug %}">Delete</a>
              </div>
            {% endif %}
          </div>
          <h1>{{ post.title }}</h1>
          <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#"
                                                                                        class="author d-flex align-items-center flex-wrap">
            <div class="avatar"><img src="{{ post.author.profile.picture.url }}" alt="..." class="img-fluid"></div>
            <div class="title"><span>{{ post.author }}</span></div>
          </a>
            <div class="d-flex align-items-center flex-wrap">
              <div class="date"><i class="icon-clock"></i> {{ post.created|timesince }} ago</div>
              <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comments.count }}</div>
              <div class="views"><i class="icon-eye"></i> {{ post.reading_time }} minutes read</div>
            </div>
          </div>
          <div class="post-body">
            <p>{{ post.overview }}</p>
            {{ post.body|markdown|safe }}
            {% if user.is_superuser and not post.is_published %}
              <a href="{% url "blog:post_publish" post.slug %}" class="btn btn-primary">Publish</a>
            {% endif %}
          </div>
          <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
            {% if post.previous_post %}
              <a href="{{ post.previous_post.get_absolute_url }}"
                 class="prev-post text-left d-flex align-items-center">
                <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                <div class="text"><strong class="text-primary">Previous Post </strong>
                  <h6>{{ post.previous_post.title }}</h6>
                </div>
              </a>
            {% endif %}
            {% if post.next_post %}
              <a href="{{ post.next_post.get_absolute_url }}"
                 class="next-post text-right d-flex align-items-center justify-content-end">
                <div class="text"><strong class="text-primary">Next Post </strong>
                  <h6>{{ post.next_post.title }}</h6>
                </div>
                <div class="icon next"><i class="fa fa-angle-right"> </i></div>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="post-comments" style="background-color: white; padding: 10px; margin-bottom: 5px">
        <header>
          <h3 class="h6">Post Comments<span class="no-of-comments">({{ post.comments.count }})</span></h3>
        </header>
        {% for comment in post.comments %}
          <div class="comment">
            <div class="comment-header d-flex justify-content-between">
              <div class="user d-flex align-items-center">
                <div class="image">
                  <img src="{% static "images/default.jpg" %}" alt="..."
                       class="img-fluid rounded-circle">
                </div>
                <div class="title"><strong>{{ comment.user_name }}</strong><span
                        class="date">{{ comment.created|timesince }} ago</span></div>
              </div>
            </div>
            <div class="comment-body">
              <p>{{ comment.content }}</p>
              {#                  {{ comment.response }}#}
            </div>
          </div>
        {% endfor %}
        <div class="add-comment">
          <header>
            <h3 class="h6">Leave a reply</h3>
          </header>
          <form method="POST" action="{% url "blog:post_detail" post.slug %}" class="commenting-form">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-12">
                {{ form|crispy }}
              </div>
              <div class="form-group col-md-12">
                <button type="submit" class="btn btn-secondary">Submit Comment</button>
              </div>
            </div>
          </form>
        </div>

      </div>
      {% include "newsletter.html" with n_form=newsletter_form %}
    </main>
  </div>
{% endblock %}
