{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load comments %}


{% block content %}
  <div class="container">
    <div class="row">
      <!-- Latest Posts -->
      <main class="posts-listing col-lg-8">
        {% if page_obj %}
          <div class="container">
            <div class="row">
              {% for post in page_obj %}
                {% get_comment_count for post as comment_count %}
                <div class="post col-xl-12" style="background-color: white; padding: 10px; border-radius: 5px;">
                  {% if post.thumbnail %}
                    {% thumbnail post.thumbnail.image "740x495" crop="center" as img %}
                      <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}"
                           alt="{{ post.thumbnail.alt }}" class="img-fluid">
                    {% endthumbnail %}
                  {% endif %}
                  <div class="post-details">
                    <div class="post-meta d-flex justify-content-between">
                      <div class="category">
                        {% for category in post.categories.all %}
                          <a href="{{ category.get_list_url }}">{{ category }}</a>
                        {% endfor %}
                      </div>
                    </div>
                    <a href="{{ post.get_absolute_url }}">
                      <h3 class="h4">{{ post.title }}</h3></a>
                    <p>{{ post.overview|safe }}</p>
                    <footer class="post-footer d-flex align-items-center"><a href="#"
                                                                             class="author d-flex align-items-center flex-wrap">
                      {% thumbnail post.author.profile.picture.image "40x40" crop="center" as img %}
                        <div class="avatar"><img src="{{ img.url }}" alt="{{ post.author.profile.picture.alt }}"
                                                 class="img-fluid">
                        </div>
                      {% endthumbnail %}
                      <div class="title"><span>{{ post.author }}</span></div>
                    </a>
                      <div class="date"><i class="icon-clock"></i> {{ post.created|timesince }} ago</div>
                      <div class="views"><i class="icon-eye"></i> {{ post.reading_time }} minutes read</div>
                      <div class="comments meta-last"><i class="icon-comment"></i> {{ comment_count }} comments</div>
                    </footer>
                  </div>
                </div>
              {% endfor %}
            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                {% if page_obj.has_previous %}
                  <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> <i
                          class="fa fa-angle-left"></i></a></li>
                  <li class="page-item"><a href="?page={{ page_obj.number|add:-1 }}"
                                           class="page-link">{{ page_obj.number|add:-1 }}</a></li>
                {% endif %}
                <li class="page-item"><a href="?page={{ page_obj.number }}"
                                         class="page-link active">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                  <li class="page-item"><a href="?page={{ page_obj.number|add:1 }}"
                                           class="page-link">{{ page_obj.number|add:1 }}</a></li>
                  <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> <i
                          class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        {% else %}
          <div style="background-color: white">
            <p class="text-center h4">Sorry nothing found<img class="center"
                                                              src="https://img.icons8.com/ios-glyphs/60/000000/nothing-found.png"
                                                              alt=";("/>
            </p>
          </div>
        {% endif %}
      </main>
      {% include "sidebar.html" with form=newsletter_form %}
    </div>
  </div>
{% endblock %}
