{% extends "base.html" %}
{% load thumbnail %}
{% load core_tags %}
{% load crispy_forms_tags %}

{% block title %}{{ series.title }}{% endblock %}
{% block  description %}{{ series.overview|markdown|truncatechars:200 }}{% endblock description %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <main class="col-md-10 post blog-post">
        <div class="card border-0 rounded mb-2">
          {% if series.thumbnail %}
            {% thumbnail series.thumbnail.image "1000x420" as img %}
              <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}"
                   alt="{{ series.thumbnail.alt }}"
                   class="card-img-top">
            {% endthumbnail %}
          {% endif %}
          {% if series.thumbnail.source %}
            <p class="text-muted mt-2">(Picture from {{ series.thumbnail.source }} )</p>
          {% endif %}
          <div class="card-body">
            <div class="post-meta d-flex justify-content-between">
              <div class="category">
                {% for category in series.categories %}
                  <a href="{{ category.get_list_url }}">{{ category }}</a>
                {% endfor %}
              </div>
              {% if user.is_superuser %}
                <div class="btn-group btn-group-sm" role="group">
                  <a class="btn btn-info" href="{% url 'blog:series_update' series.slug %}">Update</a>
                  <a class="btn btn-danger" href="{% url 'blog:series_delete' series.slug %}">Delete</a>
                </div>
              {% endif %}
            </div>
            <h1 class="text-center">{{ series.title }}</h1>
            <div class="post-footer row justify-content-center">
              <div class="d-flex align-items-center flex-wrap">
                <div class="date"><i class="icon-clock"></i> {{ series.created|timesince }} ago</div>
                <div class="views"><i class="icon-eye"></i> {{ series.reading_time }} minutes read</div>
                {#                <div class="comments meta-last"><i class="icon-comment"></i> {{ comment_count }} comments</div>#}
              </div>
            </div>
            <div class="post-body card">
              <div class="card-body post-detail">
                <p class="justify-content-around">{{ series.overview|markdown }}</p>
                <hr>
                <p class="text-justify">{{ series.body|markdown }}</p>
              </div>
            </div>
            <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
              <a href="{{ series.all_published_post.first.get_absolute_url }}"
                 class="next-post text-right d-flex align-items-center justify-content-end">
                <div class="text"><strong class="text-primary">Start Reading</strong>
                  <h6>{{ series.all_published_post.first.title }}</h6>
                </div>
                <div class="icon next"><i class="fa fa-angle-right"> </i></div>
              </a>
            </div>
          </div>
        </div>
        {% include "newsletter.html" with n_form=newsletter_form %}
      </main>
    </div>
  </div>
{% endblock %}
