{% extends "base.html" %}
{% load markdown_extras %}
{% load crispy_forms_tags %}

{% block content %}
  <style>
    .post-body img {
      width: 100%;
    }
  </style>

  <div class="container">
    <main class="post blog-post">
      <div class="post-single">
        {% if series.thumbnail %}
          <div class="post-thumbnail"><img src="{{ series.thumbnail.url }}" alt="..."
                                           class="img-fluid">
          </div>
        {% endif %}
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="category">
              {% for cat in series.categories %}
                <a href="{% url "blog:post_list" %}?category={{ cat.name }}">{{ cat }}</a>
              {% endfor %}
            </div>
            {% if user.is_superuser %}
              <div>
                <a href="{% url 'blog:series_update' series.slug %}">Update</a>|
                <a href="{% url 'blog:series_delete' series.slug %}">Delete</a>
              </div>
            {% endif %}
          </div>
          <h1>{{ series.title }}</h1>
          <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#"
                                                                                        class="author d-flex align-items-center flex-wrap">
            <div class="avatar"><img src="{{ series.author.profile.picture.url }}" alt="..." class="img-fluid"></div>
            <div class="title"><span>{{ series.author }}</span></div>
          </a>
            <div class="d-flex align-items-center flex-wrap">
              <div class="date"><i class="icon-clock"></i> {{ series.created|timesince }} ago</div>
              <div class="views"><i class="icon-eye"></i> {{ series.reading_time }} minutes read</div>
            </div>
          </div>
          <div class="post-body">
            <p>{{ series.overview }}</p>
            {{ series.body|markdown|safe }}
          </div>
          <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
            <a href="{{ series.all_blogpost.first.get_absolute_url }}"
               class="next-post text-right d-flex align-items-center justify-content-end">
              <div class="text"><strong class="text-primary">Start Reading</strong>
                <h6>{{ series.all_blogpost.first.title }}</h6>
              </div>
              <div class="icon next"><i class="fa fa-angle-right"> </i></div>
            </a>
          </div>
        </div>
      </div>
      {% include "newsletter.html" with n_form=newsletter_form %}
    </main>
  </div>
{% endblock %}
