{% extends "base.html" %}
{% load thumbnail %}
{% load core_tags %}

{% block description %} Blog articles about django, python and web development in general.{% endblock description %}

{% block content %}
  <div class="container">
    <div class="row">
      {% include "sidebar_left.html" %}
      <main class="posts-listing col-md-6">
        {% if page_obj %}
          {% for series in page_obj %}
            <div class="post card border-0">
              {% if series.thumbnail %}
                {% thumbnail series.thumbnail.image "653x277" as img %}
                  <img src="{{ img.url }}" alt="{{ series.thumbnail.alt }}"
                       width="{{ img.width }}" height="{{ img.height }}" class="img-fluid">
                {% endthumbnail %}
              {% endif %}
              <div class="post-meta ml-3 d-flex justify-content-between">
                <div class="category">
                  {% for category in series.categories %}
                    <a href="{{ category.get_list_url }}">{{ category }}</a>
                  {% endfor %}
                </div>
              </div>
              <a href="{{ series.get_absolute_url }}">
                <h3 class="text-center">{{ series.title }}</h3>
              </a>
              <div class="card-body">
                <p>{{ series.overview|markdown }}</p>
                <footer class="post-footer row justify-content-center">
                  <div class="date"><i class="icon-clock"></i> {{ series.created|timesince }} ago</div>
                  <div class="views"><i class="icon-eye"></i> {{ series.reading_time }} minutes read</div>
                </footer>
              </div>
            </div>
          {% endfor %}
          <!-- Pagination -->
          <nav aria-label="Page navigation">
            <ul class="pagination pagination-template d-flex justify-content-center">
              {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> <i
                        class="fa fa-angle-left"></i></a></li>
                <li class="page-item"><a href="?page={{ page_obj.number|add:-1 }}"
                                         class="page-link">{{ page_obj.number|add:-1 }}</a></li>
              {% endif %}
              <li class="page-item"><a href="?page={{ page_obj.number }}"
                                       class="page-link active">{{ page_obj.number }}</a></li>
              {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.number|add:1 }}"
                                         class="page-link">{{ page_obj.number|add:1 }}</a></li>
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> <i
                        class="fa fa-angle-right"></i></a></li>
              {% endif %}
            </ul>
          </nav>
        {% else %}
          <div class="card-body bg-white mr-3 rounded">
            <p class="text-center h4">
              Sorry nothing found
              <img class="center"
                   src="https://img.icons8.com/ios-glyphs/60/000000/nothing-found.png"
                   alt=";("/>
            </p>
          </div>
        {% endif %}
      </main>
      {% include "sidebar_right.html" with form=newsletter_form %}
    </div>
  </div>
{% endblock %}
