{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="card p-4 mb-4 mt-4">
          <h5 class="h4 text-center heading">Get In Touch</h5>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{ form | crispy }}
              <p><b>Note: All the fields are required</b></p>
              <button type="submit" class="btn btn-primary btn-block">Send</button>
            </form>
          </div>
          <div class="row justify-content-center">
            <a href="{{ profile.github }}" class="btn"
            ><img
                    alt="tobi-de | Github"
                    width="22px"
                    src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/github.svg"
            /></a>
            <a href="mailto:{{ profile.email }}" class="btn"
            ><img
                    alt="tobi-de | Gmail"
                    width="22px"
                    src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/gmail.svg"
            /></a>
            <a href="{{ profile.telegram }}" class="btn"
            ><img
                    alt="tobi-de | Telegram"
                    width="22px"
                    src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/telegram.svg"
            /></a>
            <a href="{{ profile.twitter }}" class="btn"
            ><img
                    alt="tobi-de | Twitter"
                    width="22px"
                    src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/twitter.svg"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
