{% extends "base.html" %}

{% block content %}
  <div class="container">
    <section>
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="h4">Intro</h2>
            <p class="text-big text-bold">My name is DEGNON Francis, of
              Beninese nationality, 20 years old, studying
              in
              Software
              Engineering at IFRI. My passion
              is computer science and my goal
              by following my current training
              is to become a full stack
              developer.
            </p>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="h4">Education</h2>
            <p class="text-big">Place a nice <strong>introduction</strong> here <strong>to catch reader's
              attention</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut
              aliquip ex ea
              commodo consequat. Duis aute irure dolor in reprehenderi.</p>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="h4">Work Experience</h2>
            <ul>
              <li>Internship in an computer science
                solutions development company E-DEV
                Design and implementation of a web
                solution for online bill payment as part of
                an internship :
                https://www.facture-express.com
              </li>
              <li>Design and implementation of a
                complaint management application as
                part
                of
                an
                academic
                workshop:
                https://cjvrmanager.herokuapp.com
              </li>
              <li>Design and implementation of an
                e-commerce platform as part of a
                personal project:
                https://tobi-ecommerce.herokuapp.com
              </li>
              <li> Design and production of a blog as part
                of a personal project:
                https://tobiblog.herokuapp.com
              </li>
            </ul>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="h4">Recent Projects</h2>
            <p class="text-big">Place a nice <strong>introduction</strong> here <strong>to catch reader's
              attention</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut
              aliquip ex ea
              commodo consequat. Duis aute irure dolor in reprehenderi.</p>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="h4 text-center">Technical Skills</h2>
            <ul class="col-md-4">
              <li>Python</li>
              <li>DJango</li>
              <li>Wagtail</li>
              <li>Git</li>
              <li>Github</li>
              <li>Javascript</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>Bootstrap4</li>
              <li>Docker</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
