{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <main class="row justify-content-center">
      <div class="card col-md-9">
        <div class="card-body">
          <h4>Send News</h4>
          <hr>
          <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          {{ form.media }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
